#img-gallery-grid {
  display: grid;

  #img-speakers-on-line {
    grid-area: speakers-on-line;
  }
  #img-aarhus-teater {
    grid-area: aarhus-teater;
  }
  #img-klo-in-brazil {
    grid-area: klo-in-brazil;
  }
  #img-dxm01 {
    grid-area: dxm01;
  }
  #img-herve-studio {
    grid-area: herve-studio;
  }
  #img-illutron {
    grid-area: illutron;
  }
  #img-5e {
    grid-area: 5e;
  }
  #img-skovgaard {
    grid-area: skovgaard;
  }
  #img-ableton-loop {
    grid-area: ableton-loop;
  }
  #img-max-msp {
    grid-area: max-msp;
  }
  #img-testing-microphones {
    grid-area: testing-microphones;
  }
  #img-concert-overgaden {
    grid-area: concert-overgaden;
  }
  #img-helix {
    grid-area: helix;
  }

  grid-template-areas:
    "speakers-on-line speakers-on-line speakers-on-line"
    "aarhus-teater klo-in-brazil dxm01"
    "herve-studio illutron 5e"
    "skovgaard ableton-loop max-msp"
    "testing-microphones concert-overgaden helix";

  img {
    background: no-repeat center center / cover;
    width: 100%;
  }
}

#cv-profile-and-contact-info {
  margin: 2rem 0 2rem 0;
  display: grid;
  grid-template-columns: 2fr 4fr;
  grid-gap: 1rem;

  .profile-arw {
    color: red;
    margin-right: 5px;
    margin-left: 5px;
  }
  .profile-content {
    font-weight: bold;
  }

  .education-description {
    font-weight: bold;
  }

  .education-arw {
    @extend .profile-arw;
  }

  .profile-content,
  .profile-content-description,
  .education-year,
  .education-description {
    font-size: 0.95rem;
  }

  #phonenumber {
    font-size: 0.92rem;
  }

  #soren-tagline {
    padding-bottom: 1rem;
  }
  #education {
    padding-top: 1rem;
  }
}

#cv {
  h2 {
    font-size: 1.3rem;
    font-weight: bold;
  }
  h3 {
    font-size: 1.1rem;
    font-weight: bold;
  }
}

#cv-grid {
  .arrow {
    color: $highlight-color;
    margin-right: 3px;
  }

  .title {
    font-weight: bold;
  }

  .year {
    p {
      font-weight: bold;
    }
    border-top: 1px dashed $old-grey-color;
    margin-right: 1rem;
  }

  margin: 2rem 0 2rem 0;
  display: grid;
  grid-template-columns: 1fr 6fr;

  .cv-year {
    @extend .year;
  }
  .cv-entries {
    text-align: justify;
    margin-bottom: 1rem;
    .cv-arw {
      @extend .arrow;
    }
    .cv-title {
      @extend .title;
    }
    .cv-work {
      color: $highlight-color;
    }
  }

  a {
    border-bottom: 1px dashed $highlight-color;
    padding-bottom: 0;
  }

  .grants-header {
    @extend .year;
  }

  .grants-entries {
    .grants-arw {
      @extend .arrow;
    }
    .grants-title {
      @extend .title;
    }
  }
}
