@media screen and (max-width: 970px) {
  #main-nav {
    width: 100%;
    padding: 1rem 2rem;
  }

  .container {
    padding: 0 2rem;
    width: 100vw;
  }

  .portfolio-section {
    .portfolio-grid {
      display: block;
      // grid-template-columns: 1fr;
      height: 100%;
    }
  }
  #cv {
    #cv-profile-and-contact-info {
      display: block;
    }
    .cv-profile-img {
      display: none;
    }
  }
  .cv-entries li p {
    margin-bottom: 1rem;
  }
}

@media screen and (max-width: 768px) {
  // tablets
  .logo {
    font-size: 0.85rem;
    // display:none;
  }
  #main-nav {
    width: 100%;
    margin: 0;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;

    ul {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      width: 70%;

      border-top: 1px dashed $old-grey-color;

      .nav-separator {
        display: none;
      }

      li {
        width: 100%;
        border-bottom: 1px dashed $old-grey-color;

        &:first-child {
          padding: 0.5rem;
        }
        &:last-child {
          padding: 0.5rem;
        }

        a {
          width: 100%;
          border: none;
        }
      }
    }
  }
  a:hover,
  a.current {
    border-bottom: none;
  }

  .logo {
    margin-bottom: 1rem;
  }

  // about section

  #img-gallery-grid {
    grid-template-areas:
      "speakers-on-line speakers-on-line"
      "aarhus-teater klo-in-brazil"
      "dxm01 herve-studio"
      "illutron 5e"
      "skovgaard ableton-loop"
      "max-msp testing-microphones"
      "concert-overgaden helix";
  }

  .cv-entries li p {
    margin-bottom: 1rem;
  }

  // #print-btn {
  //   display:none;
  // }
}

@media screen and (max-width: 520px) {
  #nav-main {
    padding: 1rem 0 1rem 0;
  }
  .logo {
    font-size: 0.5rem;
  }

  #img-gallery-grid {
    display: grid;

    #img-helix,
    #img-concert-overgaden,
    #img-max-msp,
    #img-ableton-loop,
    #img-dxm01,
    #img-speakers-on-line {
      display: none;
    }
    grid-template-columns: auto;
    grid-template-areas:
      "illutron"
      "testing-microphones"
      "herve-studio"
      "aarhus-teater"
      "klo-in-brazil"
      "skovgaard"
      "5e";
  }

  .profile-entries {
    li {
      margin-bottom: 0.5rem;
    }
  }

  .education-year {
    display: none;
  }
  .education-arw {
    display: none;
  }

  #cv-grid {
    grid-template-columns: 1fr;

    .cv-entries {
      text-align: left;
      .cv-arw {
        display: none;
      }
    }
    .cv-year:first-child {
      border: none;
    }
    .cv-year {
      padding: 0.5rem 0 0.5rem 0;
    }
  }

  .grants-header {
    padding: 0.5rem 0 0.5rem 0;
  }
  .grants-arw {
    display: none;
  }
  .grants-entries {
    li {
      margin-bottom: 0.5rem;
    }
  }
}
